@media(max-width:1110px){
    .main_content{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        max-width: max-content;
    }

    .card{
        max-width: 70%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .block_left{
        max-width: 100%;
    }

    .block_right{
        max-width: 100%;
    }

    .block_right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}

@media(max-width:930px){
    .nav_list_link{
        margin-left: 20px;
    }

    .f_card_content{
        max-width: 930px;
    }


    .f_card_content_left_s{
        font-size: 20px;
    }

    .f_card_content_right_s{
        font-size: 20px;
    }
}

@media(max-width:880px){
    .block1_img{
        max-width: 90%;
    }

    .f_card_content_left_s{
        font-size: 18px;
    }

    .f_card_content_right_s{
        font-size: 18px;
    }

    .nav_list_link{
        font-size: 16px;
        margin-left: 20px;
    }


}

@media(max-width:820px){
    .nav_list_link{
        margin-left: 10px;
        font-size: 15px;
    }

    .footer_logo{
        font-size: 18px;
    }
}

@media(max-width:738px){
    .footer_logo{
        font-size: 17px;
    }

    .nav_list_link{
        font-size: 15px;
    }
}

@media(max-width:696px){
    .card_content2{
        display: flex;
        flex-wrap: wrap;
    }

    .block_1{
        margin-bottom: 20px;
    }


    .f_card_content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .f_card_content_left{
        text-align: center;
    }
    .f_card_content_right{
        text-align: center;
    }

    .f_title{
        margin-bottom: 20px;
    }

    .footer_card{
        margin-bottom: 50px;
    }

    .footer_nav_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_logo{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }


    .nav_list_link{
        margin-left: 45px;
        font-size: 14px;
    }
}

@media(max-width:650px){
    .main_title{
        font-size: 15px;
    }

    .main_text{
        font-size: 14px;
        text-align: justify;
    }

    .buttomn{
        padding: 10px 20px 10px 20px;
        width: max-content;
        height: max-content;

        font-size: 14px;
    }

    .light_img{
        width: 200px;
        height: 100%;
    }

    .nav_list_link{
        margin-left: 25px;
        font-size: 13px;
    }
}

@media(max-width:556px){
    .main_title{
        font-size: 15px;
        text-align: center;
    }

    .block1_text{
        font-size: 13px;
        text-align: justify;
    }

    .card{
        display: flex;
        flex-direction: column;
    }

    .footer_nav_content{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav_list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav_list_link{
        font-size: 15px;
        margin: 0;
    }

    .f_card_content_left_s{
        font-size: 15px;
    }
    .f_card_content_right_s{
        font-size: 15px;
    }

    .text{
        font-size: 30px;
    }
}

